$bd-bgc: #eee;  //body背景色
$bd-c: #333;  //body字体颜色

//$g-mn-bgc: #fff;  //g-mn背景色
//$g-mn-c: #666;  //g-mn字体颜色

$g-sd-bgc: #fff;  //g-sd背景色
$g-sd-c: #666;  //g-sd字体颜色

$g-mnc-bgc: #fff;  //g-mnc背景色
$g-mnc-c: #333;  //g-mnc字体色

$bdc: #ddd;  //border颜色

$link-c: #337ab7;  //链接颜色