@import "common";

.m-cfg{
    @extend .m;
}

.m-intro{
    @extend .m;

    .list>li{
        padding: $m-mg / 2 30px $m-mg;
        border-radius: 5px;
        transition: background-color .2s;

        &:hover{
            background-color: #f9f9f9;
        }
    }

    .hd{
        padding-bottom: 5px;
        font-size: 24px;

        &:hover{
            .tg{
                visibility: visible;
            }
        }

        .tg{
            float: left;
            margin-left: -22px;
            visibility: hidden;
        }
    }
}

.m-demo{
    @extend .m;

    .u-btn{
        margin-right: 10px;
    }
}